.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 16px;
    padding: 0 20px;
    align-items: center;
}


@media screen and (min-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 996px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}